.flex-row {
    display: flex;
    flex-direction: row;

    height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

header {
    flex: 1 0 60%;

    h1 {
        margin: 0;
        padding: 15px;

        background-color: red;
    }

    .cover-container {
        display: flex;
        flex-direction: column;

        justify-content: end;

        flex: 1 0 auto;
        background-color: yellow;
    }

    app-new-year {
        max-height: 15vh;
    }
}

main {
    flex: 1 0 40%;

    overflow: hidden;

    h2 {
        margin: 0;
        padding: 10px 30px;

        font-size: 2em;

        text-align: end;

        animation: color-text 15s infinite;
    }

    .message-container {
        flex: 0 0 auto;
    }

    app-gift {
        margin: auto;
        padding: 10vh 0;
        width: 70%;
    }
}

@keyframes color-text {
    0% {
        color: mediumslateblue;
        filter: blur(0.4px);
    }

    10% {
        filter: blur(0px);
    }

    25% {
        color: coral;
        filter: blur(0.4px);
    }

    35% {
        filter: blur(0px);
    }

    50% {
        color: deeppink;
        filter: blur(0.4px);
    }

    60% {
        filter: blur(0px);
    }

    75% {
        color: gold;
        filter: blur(0.4px);
    }

    85% {
        filter: blur(0px);
    }
    
    100% {
        color: mediumslateblue;
        filter: blur(0.4px);        
    }
}

@media screen and (max-width: 850px) {
    .flex-row {
        flex-direction: column;

        min-height: 100vh;
        height: unset;
    }
    h1, h2 {
        text-align: center !important;
    }
}