:host {
  display: contents;
}

svg {
  display: block;

  width: 100%;
  height: 100%;

  aspect-ratio: 1/1;

  height: var(--height, inherit);
  width: var(--width, inherit);
  padding: var(--padding, inherit);
  margin: var(--margin, inherit);

  g {
    fill-opacity: 0;
    // animation: fill-in var(--fill-duration) var(--fill-delay) ease-in-out
    //   forwards;
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;

    path#leaves {
      animation: draw var(--leaves-duration) linear forwards,
        fill-in var(--fill-duration) var(--leaves-duration) ease-in-out forwards;
    }

    path#log {
      animation: draw var(--log-duration) var(--log-delay) linear forwards,
        fill-in var(--fill-duration) var(--leaves-duration) ease-in-out forwards;
    }

    path#star {
      animation: draw var(--decorations-duration) var(--star-delay) linear
          forwards,
        fill-in var(--fill-duration) var(--star-delay) ease-in-out forwards;
    }

    path#top-tinsel {
      animation: draw var(--decorations-duration) var(--top-tinsel-delay) linear
          forwards,
        fill-in var(--fill-duration) var(--top-tinsel-delay) ease-in-out
          forwards;
    }

    path#bottom-tinsel {
      animation: draw var(--decorations-duration) var(--bottom-tinsel-delay)
          linear forwards,
        fill-in var(--fill-duration) var(--bottom-tinsel-delay) ease-in-out
          forwards;
    }

    &#yellow-ball {
      animation: draw var(--ball-duration) var(--yellow-ball-delay) ease-out
          forwards,
        fill-in var(--fill-duration) var(--yellow-ball-delay) linear forwards;
    }
    &#purple-ball {
      animation: draw var(--ball-duration) var(--purple-ball-delay) ease-out
          forwards,
        fill-in var(--fill-duration) var(--purple-ball-delay) linear forwards;
    }
    &#blue-ball {
      animation: draw var(--ball-duration) var(--blue-ball-delay) ease-out
          forwards,
        fill-in var(--fill-duration) var(--blue-ball-delay) linear forwards;
    }
    &#red-ball {
      animation: draw var(--ball-duration) var(--red-ball-delay) ease-out
          forwards,
        fill-in var(--fill-duration) var(--red-ball-delay) linear forwards;
    }
    &#orange-ball {
      animation: draw var(--ball-duration) var(--orange-ball-delay) ease-out
          forwards,
        fill-in var(--fill-duration) var(--orange-ball-delay) linear forwards;
    }
    &#bottom-yellow-ball {
      animation: draw var(--ball-duration) var(--bottom-yellow-ball-delay)
          ease-out forwards,
        fill-in var(--fill-duration) var(--bottom-yellow-ball-delay) linear
          forwards;
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-in {
  to {
    fill-opacity: 1;
  }
}
